/*
 * Reset
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/*
 * Variables
 */

:root {
    --mine-shaft: #212121;
    --mercury: #e8e8e8;
    --tundora: #999;
    --turbo: #fff000;
    --blue: #0000ff;
    --mariner: #3A97D4;
    --genoa: #20A672;
    --mojo: #C44B34;
    --rajah: #F7CE74;
    --zest: #9C83D4;
    --concrete: #fafafa;
    --tan-hide: #FD9C51;
    --pastel-green: #7BE076;
    --lime-pie: #BFD630;

    --color-text: var(--mine-shaft);
    --color-background: var(--concrete);
    --color-accent: var(--lime-pie);

    --breathe: 2rem;
    --font-size: 1.6rem;
    --font-size-small: 1rem;
    --border-width: .3rem;
}

/*
 * Body & typo settings
 */

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: var(--font-size);
    color: var(--color-text);
    overflow-y: scroll;
    line-height: 1.5;
    padding: 3rem;
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle; /* Remove unwanted space at the bottom inside figure elements */
}

figure, picture {
    display: block;
    position: relative;
    margin: 1rem 0;
    max-width: 40rem;
}

figcaption {
    padding: 1rem 0;
    display: inline-block;
}

p {
    max-width: 40rem;
}

p > img {
    max-width: 20rem;
    float: right;
}

a {
    color: var(--color-text);
    text-decoration: none;
    border-bottom: solid var(--border-width) var(--color-accent);
}

a:hover {
    transition: 200ms;
    background-color: var(--color-accent);
}

ul {
    list-style: none;
}

.list-circle {
    list-style: circle;
    padding-left: 1rem;
}

ol {
    margin-left: var(--breathe);
}

hr {
    border-top: dashed var(--border-width) var(--color-accent);
    border-bottom: none;
    max-width: 50%
}

.flow > * + * {
    margin-top: var(--breathe);
}

.flex {
    display: flex;
    gap: var(--breathe);
}

.push {
    margin-left: auto;
}

/*
 * Quotes
 */

blockquote {
    quotes: "“" "”" "‘" "’";
    border-left: solid 3px var(--color-accent);
    padding-left: 1rem;
    font-style: italic;
    color: var(--tundora);
    font-size: inherit;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

.code-example {
    background-color: var(--mercury);
    padding: 2rem;
    border-radius: 10px;
    overflow-x: auto;
    font-size: .9rem;
    max-width: 40rem;
}

p > code {
    background-color: var(--mercury);
    padding: .2rem .5rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.meta {
    font-size: var(--font-size-small);
    color: var(--tundora);
}

/*
 * Selection
 */

::selection {
    background: var(--color-accent);
}

:focus-visible {
    border: none;
    outline-offset: var(--border-width);
    outline: solid var(--border-width) var(--color-accent);
}

/*
 * Mobile
 */

@media(max-width:80rem) {
    body {
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .flex {
        flex-direction: column;
    }
}

@media(max-width:40rem) {
    body {
        font-size: 1.25rem;
        padding: 1rem;
    }
}