/*
 * Reset
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/*
 * Variables
 */

:root {
    --mine-shaft: #212121;
    --mercury: #e8e8e8;
    --tundora: #999;
    --turbo: #fff000;
    --blue: #0000ff;

    --color-text: var(--mine-shaft);
    --color-accent: var(--turbo);
    --color-selection: var(--blue);

    --breathe: 2rem;
    --font-size: 3rem;
    --font-size-small: 1rem;
}

/*
 * Body & typo settings
 */

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: var(--font-size);
    color: var(--color-text);
    overflow-y: scroll;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: var(--breathe);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

/*
 * Images
 */

img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle; /* Remove unwanted space at the bottom inside figure elements */
}

figcaption {
    color: var(--tundora);
    font-size: var(--font-size-small)
}

.combo {
    display: flex;
    flex-direction: row;
}

p > img {
    max-width: 20rem;
    float: right;
}

.litto {
    overflow: hidden;
    padding: 0;
    background-color: #8EB8F0;
}

/*
 * Basics
 */

a {
    color: var(--color-text)
}

a:hover {
    background-color: var(--color-accent);
}

p > a {
    text-decoration: none;
    background-color: var(--color-accent);
}

ul {
    list-style: url(images/rice-balls.svg);
    margin: 0 var(--breathe)
}

ul li {
    padding-left: .75rem;
    margin-bottom: 1rem
}

/*
 * Layout
 */

header, main, footer {
    display: flex;
}

section {
    padding: var(--breathe);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > * + * {
    margin-top: 2rem;
}

.no-padding {
    padding: 0;
}

.note {
    font-style: italic;
    color: var(--tundora);
}

.links {
    flex-direction: column;
}



/*
 * Quotes
 */

blockquote {
    quotes: "“" "”" "‘" "’";
    border-left: solid 3px var(--color-accent);
    padding-left: 1rem;
    font-style: italic;
    color: var(--tundora);
    font-size: inherit;
}

blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}

/*
 * Selection
 */

::selection {
    background: var(--color-selection);
    color: #fff
}

/*
 * Mobile
 */

@media(max-width:80rem) {

    body {
        font-size: 2.5rem;
        padding: 1rem;
    }

    div {
        padding: 1rem;
    }
}

@media(max-width:40rem) {

    body {
        font-size: 1.25rem;
        padding: 1rem;
    }

    header, main, footer {
        flex-direction: column;
    }

    section {
        padding: 1rem;
    }

    section > * + * {
    margin-top: 1rem;
}
}