* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    /* Colors */
    --eggshell: #fafafa;
    --mine-shaft: #212121;
    --mercury: #e8e8e8;
    --mariner: #3A97D4;
    --genoa: #20A672;
    --mojo: #C44B34;
    --rajah: #F7CE74;

    /* Campus */
    --campus-light: hsl(40deg 35% 65%);
    --campus-background: hsl(40deg 35% 60%);
    --campus-dark: hsl(40deg 35% 75%);
    --campus-shadow: hsl(40deg 35% 35%);

    /* Spacing */
    --double: calc(var(--default) * 2);
    --default: 3rem;
    --breather: 2rem;
    --half: calc(var(--default) / 2);
    --in-between: 1.25rem;
    --small: .5rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--eggshell);
    color: var(--mine-shaft);
    font-size: 1.3rem;
    line-height: 1.5;
    overflow-y: scroll;
    display: flex;
}

/*
 * Basics
 */

h1, h2, h3, h4, h5 {
    line-height: 1;
}

a {
    display: inline-block;
    color: var(--mojo);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

section h3 {
    margin-top: var(--default);
}

.subtitle {
    display:  inline-block;
    background-color: var(--rajah);
}

img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle; /* Remove unwanted space at the bottom inside figure elements */
}

figcaption {
    font-size:  1.2rem;
    color: #a2a2a2;
}

/*
 * Navigation
 */

nav {
    top: var(--default);
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    text-decoration: none;
    width: 100%;
    padding: .2rem 4rem 0 4rem;
    background-color: var(--campus-background);
    text-align: center;
    white-space: nowrap;
    color: var(--text);
    position: relative;
    border-radius: 3px;
    border: solid 2px var(--campus-shadow);
    box-shadow: 1px 1px 0px var(--campus-shadow),
                2px 2px 0px var(--campus-shadow),
                3px 3px 0px var(--campus-shadow),
                4px 4px 0px var(--campus-shadow);
}

nav a:hover {
    transition: top 400ms, left 400ms;
    top: -2px;
    left: -2px;
    box-shadow: 1px 1px 0px var(--campus-shadow),
                2px 2px 0px var(--campus-shadow),
                3px 3px 0px var(--campus-shadow),
                4px 4px 0px var(--campus-shadow),
                5px 5px 0px var(--campus-shadow),
                6px 6px 0px var(--campus-shadow);
}

nav a:before, nav a:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--mine-shaft);
    position: absolute;
    top: .95rem;
}

nav a:before {
    left: var(--half);
}

nav a:after {
    right: var(--half);
}

nav a + a {
    margin-top: 2rem;
}

/*
 * Layout
 */

header * + *,
section * + *,
footer * + * {
    margin-top: var(--in-between);
}

header {
    padding-left: var(--default);
}

main {
    max-width: 40rem;
    padding: var(--default) 0 0 var(--default);
}

section + section {
    padding-top: var(--default);
}

footer {
    border-top: dashed 4px var(--mine-shaft);
    padding: var(--default) 0;
}

/*
 * Tables!!
 */

table {
    border-collapse: collapse;
}

th, td {
    border: solid 4px var(--mine-shaft);
    padding: var(--small);
}

th {
    background-color: var(--rajah);
}

/*
 * Fun stuff
 */

.tip {
    padding: var(--half);
    border: solid 4px var(--rajah);
    font-style: italic;
    position: relative;
}

.tip:before {
    content: "";
    display: block;
    position: absolute;
    top: -.4rem;
    left: -.9rem;
    height: 1.5rem;
    width: 1.5rem;
    background: url(hold.png) no-repeat center/cover;
}

blockquote {
    quotes: "“" "”" "‘" "’";
    padding: var(--half);
    font-style: italic;
    border-left: solid 8px var(--rajah);
    background-color: #f3f3f3;
}

blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}

ul {
    margin-left: 2.5rem;
    list-style: none;
}

li {
    position: relative;
}

li + li {
    margin-top: .5rem;
}

li:before {
    content: "";
    display: block;
    position: absolute;
    top: .3rem;
    left: -2.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

li:nth-child(odd):before {
    background: url(hold.png) no-repeat center/cover;
}

li:nth-child(even):before {
    background: url(hold2.png) no-repeat center/cover;
}

li:nth-child(3n+3):before {
    background: url(hold3.png) no-repeat center/cover;
}

::selection {
    background-color: var(--rajah);
}

/*
 * Mobile
 */

@media screen and (max-width: 40rem) {
    body {
        padding: var(--half);
        font-size: 1.2rem;
        flex-direction:  column;
    }

    header {
        padding-left: 0;
    }

    main {
        padding-left: 0;
    }

    /* Change our table rows to columns */
    table {
        display: flex;
    }

    /* List our cells under each other instead of next to */
    tr {
        display: flex;
        flex-direction: column;
    }

    /* Undo the global margin in-between stacked elements */
    tbody, td, th {
        margin-top: 0;
    }

    /* Undo the left border to prevent double borders */
    tbody td {
        border-left: none;
    }

    /* Undo the top border to prevent double borders */
    td + td, th + th {
        border-top: none;
    }
}

/* ~ The end ~ */